// Place all the styles related to the Secrets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like {
	display: inline-block;
	margin: 5px 0px;
}

.like_form {
	width: 50px;
	margin-left: 20px;
	margin-right: 100px;
	display: inline-block;
}

#user {
	display: block;
	margin-bottom: 20px;
}

.block {
	margin-bottom: 20px;
}